::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

.cardContainer {
  width: calc(100% - 2rem);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

.show {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

.hide {
  transform: translateY(-120%);
  transition: transform 0.5s ease-in-out;
}
